body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  background-color: #24252a;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  margin-right: auto;
}

.nav__links li {
  list-style: none;
  position: relative;
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.nav__links li:hover ul {
  opacity: 1;
  visibility: visible;
}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}



.dropdown_nav {
  position: absolute;
  margin-left: -1rem;
  padding: 0.5rem;
  background-color: #24252a;
  box-shadow: 0 0 10px #24252a;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s opacity ease-in-out;

}

.main {
  display: flex;
  flex-direction: column;
  box-sizing: 1vh;
}
.main_content{
  background-color: black;
  width: 1vh;
}
.hot_topics{
  background-color: pink;
  hr
}